.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    margin: 20px 10px;
}



.paytype{
    display: flex;
    align-items: center;
    width: 350px;
    height: 130px;
    border: 3px solid white;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 15px;
}

.paytype img{
    width: 50px;
}

.paytype p{
 font-size: 20px;
 margin-left: 45px;
 margin-bottom: 10px;
}

.photo{
    width: 50px;
    margin: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo span{
 font-size: 12px;
 margin-top: 10px;
}
